.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(245, 246, 250);
}

.Content {
  margin: 0 8px 0 8px;
}

.App-link {
  color: #61dafb;
}
